@model Acrux1Tools.Web.Models.Telemetry.ListTelemetryViewModel

@{
    ViewData["Title"] = "Telemetry";
}

<h1>Telemetry for satellite @Html.DisplayFor(model => model.SatelliteId) - @Html.DisplayFor(model => model.Satellite.Name)</h1>

@if (Model.Satellite != null)
{
    <img src="@Model.Satellite.Image" alt="@Model.Satellite.Name">
}

<a type="button" title="View on SATNOGS" class="nav-link text-dark" href="https://db.satnogs.org/satellite/@Model.SatelliteId/" target="_blank">
    View on SATNOGS
</a>

<h6>Satellite is @Html.DisplayFor(model => model.Satellite.Status)</h6>
<h6>Telemetry last updated @Html.DisplayFor(model => model.LastUpdated)</h6>

@{
    Acrux1Tools.Web.Models.Telemetry.TelemetryRow latestRow = Model.Telemetry.OrderByDescending(t => t.SatnogsTelemetry.Timestamp).FirstOrDefault();
}

@if (latestRow != null)
{
    <h6>Telemetry last received @Html.DisplayFor(model => latestRow.SatnogsTelemetry.Timestamp) from @Html.DisplayFor(model => latestRow.SatnogsTelemetry.Observer)</h6>
}

<a class="nav-link text-dark" asp-action="DownloadCsv" asp-route-satelliteId="@Model.SatelliteId">
    Download full telemetry as CSV
</a>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Telemetry[0].FecDecodeResult.Success)</th>
            <th>@Html.DisplayNameFor(model => model.Telemetry[0].FecDecodeResult.ErrorsCorrectedCount)</th>
            <th>@Html.DisplayNameFor(model => model.Telemetry[0].SatnogsTelemetry.Observer)</th>
            <th>@Html.DisplayNameFor(model => model.Telemetry[0].SatnogsTelemetry.Timestamp)</th>
            <th>Dest Callsign</th>
            <th>Src Callsign</th>
            <th>TX Count</th>
            <th>RX Count</th>
            <th>RX Valid</th>
            <th>SW Sequence</th>
            <th>CDH Time</th>
            <th>Last Reboot</th>
            <th>EPS Bat 1 (V)</th>
            <th>EPS Bat 2 (V)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Telemetry)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FecDecodeResult.Success)
            </td>
            <td>
                @Html.DisplayFor(model => item.FecDecodeResult.ErrorsCorrectedCount)
            </td>
            <td>
                @Html.DisplayFor(model => item.SatnogsTelemetry.Observer)
            </td>
            <td>
                @Html.DisplayFor(model => item.SatnogsTelemetry.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.DestinationCallsign)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.SourceCallsign)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.TxCount)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.RxCount)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.RxValid)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.Swsequence)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.Cdhtime)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.Swcdhlastreboot)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.Epsadcbatv1)
            </td>
            <td>
                @Html.DisplayFor(model => item.Acrux1Beacon.Epsadcbatv2)
            </td>
        </tr>
        }
    </tbody>
</table>
