@model Acrux1Tools.Web.Models.Telemetry.ListTelemetryViewModel

@{
    ViewData["Title"] = "Telemetry";
}

<h1>Telemetry for satellite @Model.SatelliteId</h1>

<a class="nav-link text-dark" asp-action="DownloadCsv" asp-route-satelliteId="@Model.SatelliteId">Download CSV</a>

<table class="table">
    <thead>
        <tr>
            <th>FEC Successful</th>
            <th>FEC Corrections</th>
            <th>Observer</th>
            <th>Timestamp</th>
            <th>Dest Callsign</th>
            <th>Src Callsign</th>
            <th>TX Count</th>
            <th>RX Count</th>
            <th>RX Valid</th>
            <th>SW Sequence</th>
            <th>EPS Bat 1 (V)</th>
            <th>EPS Bat 2 (V)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Telemetry)
        {
            <tr>
                <td>
                    @item.FecDecodeResult.Succeess
                </td>
                <td>
                    @item.FecDecodeResult.ErrorsCorrectedCount
                </td>
                <td>
                    @item.SatnogsTelemetry.Observer
                </td>
                <td>
                    @item.SatnogsTelemetry.Timestamp
                </td>
                <td>
                    @item.Acrux1Beacon?.DestinationCallsign
                </td>
                <td>
                    @item.Acrux1Beacon?.SourceCallsign
                </td>
                <td>
                    @item.Acrux1Beacon?.TxCount
                </td>
                <td>
                    @item.Acrux1Beacon?.RxCount
                </td>
                <td>
                    @item.Acrux1Beacon?.RxValid
                </td>
                <td>
                    @item.Acrux1Beacon?.Swsequence
                </td>
                <td>
                    @item.Acrux1Beacon?.Epsadcbatv1
                </td>
                <td>
                    @item.Acrux1Beacon?.Epsadcbatv2
                </td>
            </tr>
        }
    </tbody>
</table>
