@model Acrux1Tools.Web.Models.Telemetry.ListTelemetryViewModel

@{
    ViewData["Title"] = "Telemetry";
}

<h1>Telemetry for satellite @Model.SatelliteId</h1>

<table class="table">
    <thead>
        <tr>
            <th>FEC Successful</th>
            <th>FEC Corrections</th>
            <th>Observer</th>
            <th>Timestamp</th>
            <th>Src Callsign</th>
            <th>Dst Callsign</th>
            <th>TX Count</th>
            <th>RX Count</th>
            <th>RX Valid</th>
            <th>SW Sequence</th>
            <th>EPS Bat 1 (V)</th>
            <th>EPS Bat 2 (V)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Telemetry)
        {
        <tr>
            <td>
                @item.FecDecodeResult.Succeess
            </td>
            <td>
                @item.FecDecodeResult.ErrorsCorrectedCount
            </td>
            <td>
                @item.SatnogsTelemetry.Observer
            </td>
            <td>
                @item.SatnogsTelemetry.Timestamp
            </td>
            <td>
                @item.Acrux1Beacon.Ax25Frame.Ax25Header.SrcCallsignRaw.CallsignRor.Callsign
            </td>
            <td>
                @item.Acrux1Beacon.Ax25Frame.Ax25Header.DestCallsignRaw.CallsignRor.Callsign
            </td>
            <td>
                @((item.Acrux1Beacon.Ax25Frame.Payload as Acrux1Payloads.Kaitai.Acrux1beacon.UiFrameDescriptor)?.MspPayload.TxCount)
            </td>
            <td>
                @((item.Acrux1Beacon.Ax25Frame.Payload as Acrux1Payloads.Kaitai.Acrux1beacon.UiFrameDescriptor)?.MspPayload.RxCount)
            </td>
            <td>
                @((item.Acrux1Beacon.Ax25Frame.Payload as Acrux1Payloads.Kaitai.Acrux1beacon.UiFrameDescriptor)?.MspPayload.RxValid)
            </td>
            <td>
                @((item.Acrux1Beacon.Ax25Frame.Payload as Acrux1Payloads.Kaitai.Acrux1beacon.UiFrameDescriptor)?.MspPayload.Swsequence)
            </td>
            <td>
                @((item.Acrux1Beacon.Ax25Frame.Payload as Acrux1Payloads.Kaitai.Acrux1beacon.UiFrameDescriptor)?.MspPayload.Epsadcbatv1)
            </td>
            <td>
                @((item.Acrux1Beacon.Ax25Frame.Payload as Acrux1Payloads.Kaitai.Acrux1beacon.UiFrameDescriptor)?.MspPayload.Epsadcbatv2)
            </td>
        </tr>
        }
    </tbody>
</table>
