@model byte[]

<code>
    @{
        if (Model != null)
        {
            for (int i = 0; i < Model.Length; i++)
            {
                //
                // Pick a text style based on the difference between the two arrays
                //
                byte[] compareArray = ViewData["compareArray"] as byte[];

                string defaultStyleClass = ViewData["defaultStyleClass"] as string;
                string outOfRangeStyleClass = ViewData["outOfRangeStyleClass"] as string;
                string matchStyleClass = ViewData["matchStyleClass"] as string;
                string diffStyleClass = ViewData["diffStyleClass"] as string;
                string preambleStyleClass = ViewData["preambleStyleClass"] as string;
                int preambleLength = ViewData["preambleLength"] as int? ?? 0;
                int lineLength = ViewData["lineLength"] as int? ?? 32;
                string byteString = Model[i].ToString("X2");

                if (i < preambleLength)
                {
                    <span class="@(preambleStyleClass ?? defaultStyleClass)">@byteString</span>
                }
                else if (compareArray == null)
                {
                    <span class="@defaultStyleClass">@byteString</span>
                }
                else if (i >= compareArray.Length)
                {
                    <span class="@(outOfRangeStyleClass ?? defaultStyleClass)">@byteString</span>
                }
                else if (Model[i] == compareArray[i])
                {
                    <span class="@(matchStyleClass ?? defaultStyleClass)">@byteString</span>
                }
                else
                {
                    <span class="@(diffStyleClass ?? defaultStyleClass)">@byteString</span>
                }

                if (i % lineLength == lineLength - 1)
                {
                    <br />
                }
            }
        }
    }
</code>